@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    min-height: 100vh;
    height: auto;
    background-color: #fafafa;
  }
  h1 {
    font-family: Nunito Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
  }
  h2 {
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
  h3 {
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0.75rem 0;
  }
  p {
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 39, 41, 0.6);
    margin: 0;
  }
  img {
    max-width: 100%;
  }
  .wk-art .img-container img {
    /* width: 100%; */
    padding: 0;
    margin: 1rem 0;
  }
  .wk-art .icon {
    width: 30px;
  }
  .nav-text {
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }

  a:active {
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 130, 82, 1);
  }
  .card-content {
    max-width: 256px;
  }
  .last-article-content {
    max-width: 752px;
  }
  footer {
    background: #ff8252;
  }
}
